<div *ngFor="let word of words">
  <h3 [ngStyle]="word.isMemorized ? styleMemorized : styleNotMemorized">
    {{ word.en }}
  </h3>
  <!-- <p [class]="word.isMemorized ? 'daNho' : 'chuaNho'">{{ word.vn }}</p> -->
  <!-- <p
    [class.daNho]="word.isMemorized"
    [class.chuaNho]="!word.isMemorized"
  >
    {{ word.vn }}
  </p>-->
  <p [ngClass]="getClasses(word)">
    {{ word.vn }}
  </p>
  <button (click)="word.isMemorized = !word.isMemorized">Toggle</button>
</div>
<input type="text">
<input type="text">
<button>Add</button>